.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: chartreuse;
}

.header img {
    width: 40px;
}

.nav {
    grid-area: n;
    background-color: aqua;
}

.content {
    grid-area: c;
    background-color: bisque;
}
.content img {
    width: 1000px;
}